<aside class="interview-sidebar">
  <h3>You've Told Me</h3>
  <dl>
    <dt>Name:</dt>
    <dd>{{name}}</dd>
    <dt>Age:</dt>
    <dd>{{interview.age}}</dd>
    <dt>Gender:</dt>
    <dd>{{interview.sex}}</dd>
  </dl>
  <h4>Symptoms Present</h4>
  <ul>
    {{#each presentEvidenceNames}}
      <li class="evidence">{{this}}</li>
    {{else}}
      <p>None yet.</p>
    {{/each}}
  </ul>
  <h4>Symptoms Absent</h4>
  <ul>
    {{#each absentEvidenceNames}}
      <li class="evidence">{{this}}</li>
    {{else}}
      <p>None yet.</p>
    {{/each}}
  </ul>
</aside>
