<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons">account circle</i>  Patient Information</div>
    <div class="collapsible-body">
      <p class="information-element"><span class="label">Name:</span> {{name}}</p>
      <p class="information-element"><span class="label">Age:</span> {{interview.age}}</p>
      <p class="information-element"><span class="label">Sex:</span> {{interview.sex}}</p>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><span class="evidence-present green-text"><i class="material-icons">done</i>  Symptoms and Risk Factors Present</span></div>
    <div class="collapsible-body"><ul>
      {{#each presentEvidenceNames}}
      <li class="evidence symptom present">{{this}}</li>
      {{else}}
      <p>None yet.</p>
      {{/each}}
    </ul></div>
  </li>
  <li>
    <div class="collapsible-header"><span class="evidence-absent red-text"><i class="material-icons">close</i>  Symptoms and Risk Factors Absent</span></div>
    <div class="collapsible-body"><ul>
      {{#each absentEvidenceNames}}
      <li class="evidence symptom absent">{{this}}</li>
      {{else}}
      <p>None yet.</p>
      {{/each}}
    </ul></div>
  </li>
</ul>