<form action="#" id="diagnosis-question" data-type="group_multiple">
    <fieldset>
        <legend>{{text}} (Select all that apply)</legend>
        <ul id="errors" style="display: none;"></ul>
        {{#each items}}
        <label for="{{this.id}}">
            <input type="checkbox" name="choice" id="{{this.id}}" data-name="{{this.name}}" class="choice-group filled-in"><span>{{this.name}}</span>
        </label><br>
        {{/each}}
        <label for="none">
            <input type="checkbox" name="choice" id="none" value="none" class="choice-group filled-in"><span>None of the Above</span>
        </label><br>
        <button type="submit" id="submit-question-answer" data-clickable="submitQuestionAnswer" class="btn right">Continue</button>
    </fieldset>
</form>