<label for="{{this.id}}-yes">Yes
    <input type="radio" name="{{this.common_name}}" id="{{this.id}}-yes" value="Yes" class="risk-factor">
</label>
<label for="{{this.id}}-no">No
    <input type="radio" name="{{this.common_name}}" id="{{this.id}}-no" value="No" class="risk-factor">
</label>
<br>