<form action="#" class="symptom-matcher">
    <h3>You said: "{{params.parseData.orth}}"</h3>
    <fieldset>
        <legend>Check the symptoms that match your entry above:</legend>
        <div id="errors" style="display: none;"></div>
        {{#each data}}
            <label for="{{this.label}}">{{this.label}}<input type="checkbox" name="symptom" id="{{this.id}}" class="symptom-group" data-name="{{this.label}}"></label><br>
        {{else}}
            <p class="empty">Nothing found.</p>
        {{/each}}
        <button type="submit" id="submit-symptom-matcher" data-clickable="submitSymptomMatcher">Continue</button>
        <button type="reset" id="symptoms-try-again" data-clickable="symptomsTryAgain">That's not what I meant.  Try again.</button>
    </fieldset>
</form>