<label for="{{this.riskFactorData.id}}">
    <input type="checkbox" name="choice" id="{{this.riskFactorData.id}}" class="risk-factor-group filled-in" data-group="risk-factor-group" data-name="{{this.riskFactorData.common_name}}">
    <span>
        {{#if this.question}} {{this.question}} {{else}} {{this.riskFactorData.common_name}} {{/if}}
    </span>
</label><br>